extends ./pages/_layout.pug
block append title
  title 新楓之谷 16 歲生日快樂！ | GASH X 新楓之谷

block append content
  .container
    include ./pages/_header.pug
    .tabs
      .tabs-head
        .wrapper
          a(href="#gash")
            img.sale(src="./assets/images/ico_stamp.png" alt="")
            img(src="./assets/images/btn-01.png" alt="")
          a(href="#store")
            img(src="./assets/images/btn-02.png" alt="")
      .tabs-body
        include ./pages/_gash.pug
        include ./pages/_store_online.pug
        //- include ./pages/_store.pug

  include ./pages/_footer.pug
