.container#note
    .wrapper
      ul
        li.dot 《專用卡/ GASH點數》
        li 
          | 前往
          a(href="https://tw.beanfun.com/index.aspx" target="_blank") 遊戲橘子官網
          img.arr(src="../assets/images/icon-arrow.png")
          | 登入後點選右下角【儲值與購點】
          img.arr(src="../assets/images/icon-arrow.png")
          | 點選【點數、禮物卡儲值】
          img.arr(src="../assets/images/icon-arrow.png")
          | 輸入點數序號與手機號碼
          img.arr(src="../assets/images/icon-arrow.png")
          | 完成儲值囉！
        li 
          | 台灣區儲值教學：
          a(href="https://pse.is/3j7kx5" target="_blank") 點我
          span.red 手機版儲值要參加抽抽樂活動請至
          a(href="http://pse.is/3j3qku" target="_blank") 抽抽樂網頁
          span.red 進行【序號補登】
        li
          | 港澳區儲值教學：
          a(href="https://pse.is/3gwz2l" target="_blank") 點我
        li
          | 優惠碼使用教學：
          a(href="https://pse.is/3jejkp" target="_blank") 點我
      ul
        li.dot
          | 抽抽樂活動辦法：
          img.logo(src="../assets/images/logo-seven.png")
        li
          | 至
          a(href="http://pse.is/3j3qku" target="_blank") 抽抽樂網站
          | 點選【新楓之谷活動】
          img.arr(src="../assets/images/icon-arrow.png")
          | 輸入與儲值時相同的手機號碼
          img.arr(src="../assets/images/icon-arrow.png")
          | 查看累積金額與抽獎券數量
          img.arr(src="../assets/images/icon-arrow.png")
          | 點選立即抽獎
          img.arr(src="../assets/images/icon-arrow.png")
          | 點選開始抽獎
          img.arr(src="../assets/images/icon-arrow.png")
          span.bold 抽獎完成顯示獎項名稱與獎項序號
        li
          | 抽抽樂教學：
          a(href="https://pse.is/3gxgp9" target="_blank") 點我
      ul
        li.dot 《抽抽樂獎勵點數》兌換期限：
        li.star 兌換期限：2021/9/30  23:59
        li.star
          | 兌換限制：限儲
          a(href="https://tw.beanfun.com/index.aspx" target="_blank") 遊戲橘子官網
          | ，每個遊戲帳號無兌換組數上限，一組點數序號僅能使用一次
      ul
        li.dot 其他注意事項：
        li.star 抽抽樂活動僅限從7-ELEVEN購買專用卡 / 點數卡，方能參加
        li.star
          | 本活動獲得的GASH點數獎勵，僅能使用於《
          a(href="http://bit.ly/2LKPuie" target="_blank") 遊戲橘子官網
          | 》，無法折換現金或等值商品
        li.star 玩家如因個人因素儲值失敗、活動資格不符，無法正常獲得獎勵，將無法額外進行補發獎勵
        li.star
          | 官方將保留變更或終止本活動時間、內容之權利，詳細活動規則、獎勵及異動說明均以官網最新公告為準，請玩家密切留意GASH官網
          a(href="https://pse.is/3jbfgh" target="_blank") 公告訊息
        li.star 活動結束時間以伺服器時間為準，請玩家避免於活動截止時間前夕進行儲值以免權益受損
        li.star
          | 如有GASH點數購買或使用上的相關疑問，請聯絡
          a(href="https://pse.is/3hrzus" target="_blank") 樂點線上客服

.container.copyright 
  | &copy; 
  | 2021 GASH POINT Co., Ltd. All Rights Reserved.