.tabs-cont#gash
    img.sticky_icon(src="./assets/images/ico_mushroom.png", alt="")
    .wrapper 
        .container 
            h2
                img(src="./assets/images/title_01-1.png" alt="")
            ul.info
                li
                    span.title | 活動時間 |
                    span.cont
                        | 2021/06/23 0:00
                        | - 
                        | 2021/07/14 23:59 
                li
                    span.title | 活動地區 |
                    span.cont 台灣 / 港澳
                li
                    span.title | 活動商品 |
                    span.cont 《新楓之谷》專用卡2700點
                li
                    span.title | 活動辦法 |
                    span.cont 
                        | 前往
                        span.yellow GASH台/港商城
                        | 於活動商品頁輸入優惠碼可立即享專屬折扣
                li
                    span.title | 商品派發 |
                    span.cont 購買完成後點數序號將透過購買時填寫的email派發
                li
                    span.title | 優惠碼使用限制 |
                    span.cont.yellow 每個帳號限用一次
            .tabs-links 
                p
                    a(href="https://pse.is/3jhgn5" target="_blank")
                        img(src="./assets/images/btn-03.png" alt="")
                    img(src="./assets/images/info_01-1.png" alt="")
                p
                    a(href="https://pse.is/3hqbev" target="_blank")
                        img(src="./assets/images/btn-03.png" alt="")
                    img(src="./assets/images/info_01-2.png" alt="")

        .container
            h2
                img(src="./assets/images/title_01-2.png" alt="")
            ul.info
                li
                    span.title | 活動時間 |
                    span.cont
                        | 2021/06/23 0:00
                        | - 
                        | 2021/07/14 23:59 
                li
                    span.title | 活動地區 |
                    span.cont 台灣
                li
                    span.title | 活動商品 |
                    span.cont 《新楓之谷》專用卡2700點
                li
                    span.title | 活動辦法 |
                    span.cont 
                        | 前往
                        span.yellow GASH台灣商城
                        | 登入會員並結帳完成即獲得65元優惠碼，於下次結帳使用
                li
                    span.title | 商品派發 |
                    span.cont 購買完成後點數序號將透過購買時填寫的email派發，優惠碼將透過beanfun!內『揪票通』服務派送
                li
                    span.title | 優惠碼使用期限 |
                    span.cont
                        | 至
                        span.yellow 2021/07/31 23:59