.tabs-cont#store
    img.sticky_icon(src="./assets/images/ico_mushroom.png", alt="")
    .wrapper 
        .container
            h2
                img(src="./assets/images/title_02-1.png" alt="")
            h3.red 最大獎GASH1000點等你拿！
            ul.info
                li
                    span.title | 活動時間 |
                    span.cont
                        | 2021/07/01 0:00
                        | - 
                        | 2021/07/21 23:59 
                li
                    span.title | 活動地區 |
                    span.cont 台灣
                li
                    span.title | 活動辦法 |
                    span.cont 
                        | 前往
                        span.yellow 全台7-ELEVEN
                        | 購買活動商品，累積儲值2000點
                        br
                        | 至電腦版
                        a(href="https://tw.beanfun.com/index.aspx" target="_blank") 《遊戲橘子官網》
                        | ，即可獲得抽抽樂抽獎券*1 
                li.yellow ※透過beanfun! 手機版儲值，請至抽抽樂網頁右上角【序號補登】進行手機號碼補綁定
                li
                    span.title | 活動商品 |
                    span.cont 新楓之谷專用卡2700點、新楓之谷專用卡1080點、GASH點數
            .tabs-links 
                p
                    img(src="./assets/images/info_02-1.png" alt="")
                p.tag
                    img(src="./assets/images/info_02-2.png" alt="")
            ul.info
                li
                    span.title | 獎勵派發 |
                    span.cont 
                        | 前往
                        a(href="https://pse.is/3j3qku" target="_blank") &nbsp;GASH抽抽樂網頁&nbsp;
                        | 抽獎，抽獎完成即可獲得獎勵序號
                li
                    span.title | 獎勵點數兌換期限 |
                    span.cont(style="white-space: nowrap;")
                        | 至
                        span.yellow 2021/09/30 23:59
                li.note.yellow
                    p | 注意事項 |
                    p 抽獎前需驗證手機號碼，請輸入儲值時填寫的手機號碼
                    p 若儲值時未輸入手機號碼，可於抽抽樂網頁右上角【序號補登】進行手機號碼補綁定
                    p 活動於2021/07/21 23:59:59結束，請於活動結束前完成補登作業方能參加抽獎活動
        .container 
            h2
                img(src="./assets/images/title_02-2.png" alt="")
            ul.info
                li
                    span.title | 活動時間 |
                    span.cont
                        | 2021/07/10 0:00
                        | - 
                        | 2021/07/11 23:59 
                li
                    span.title | 活動地區 |
                    span.cont 台灣
                li
                    span.title | 活動辦法 |
                    span.cont 
                        | 至7-Eleven購買GASH1000點，隨單附贈7-11購物金20元。
                        br
                        | 單筆可累計，滿2000送40元，以此類推）
                li
                    span.title | 活動商品 |
                    span.cont GASH1000點、GASH 3000點、GASH 5000點
                li
                    span.title | 購物金派發 |
                    span.cont 購買完成於7-11小白單獲得零用金序號    